---
# This requires a version of clang-format above 19
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
#AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: 'Yes'
AlignOperands: AlignAfterOperator
BinPackArguments: true
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakAfterReturnType: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0 # To prevent automatic line breaking
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
IndentCaseLabels: true
IndentWidth: 2
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 10  # Strongly discourages breaking return type
PenaltyBreakBeforeFirstCallParameter: 100  # Keeps function name & first parameter together
PPIndentWidth: 2
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
UseTab: Never
...
