build*
python/doc/documentation.i
tests/data/*/*.out
__pycache__
.ipynb_checkpoints
./*.ascii
.project
.pydevproject
.cproject
.settings
core
nano.save
doc/demo/*/*.csv*
doc/demo/*/*.ascii*
doc/demo/*/*.NF*
doc/demo/*/*.dat*
doc/demo/*/*.poly*
doc/demo/r/*.pdf
doc/demo/r/.Rhistory
doc/demo/r/.RData
doc/courses/*/*.csv*
doc/courses/*/*.ascii*
doc/courses/*/*.NF*
doc/courses/*/*.dat*
doc/courses/*/*.poly*
doc/courses/r/*.pdf
doc/courses/r/.Rhistory
doc/courses/r/.RData
*.Rout
.*~
.metadata
