build*
doxygen/latex
doxygen/html
doxygen/xml
doxygen/*.tmp
python/doc/documentation.i
tests/data/*/*.out
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
*/*/*/*/.ipynb_checkpoints
./*.ascii
.project
.pydevproject
.cproject
.settings
core
nano.save
doc/demo/*.pdf
doc/demo/.Rhistory
doc/demo/.RData
.*~
.metadata