build*
python/doc/documentation.i
tests/data/*/*.out
__pycache__
.ipynb_checkpoints
./*.ascii
.project
.pydevproject
.cproject
.settings
core
nano.save
doc/demo/python/*.csv
doc/demo/python/*.ascii
doc/demo/r/*.pdf
doc/demo/r/.Rhistory
doc/demo/r/.RData
.*~
.metadata
