name: nonreg-demos-courses_ubuntu16

on:
  # Permit calling trigger
  workflow_call:
  # Activate the workflow at each push on dev branch
  push:
    branches: [ dev ]
  # Activate the workflow at each pull request on dev branch
  pull_request:
    branches: [ dev ]
  schedule:
    # Nightly non regression on default branch (dev)
    # * is a special character in YAML so you have to quote the string
    - cron:  '30 23 * * *'
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  CMAKE_BUILD_TYPE: Release
  BUILD_DIR : build

jobs:
  build:
    runs-on: ubuntu-latest
    container:
        # Corresponding docker file comes from:
        # https://github.com/gstlearn/docker-generate
        image: gstlearn/ubuntu-16-demos-rmd-ipynb

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: |
        export PATH=/opt/python/py311/bin:$PATH
        cmake \
          -B${{env.BUILD_DIR}} \
          -DBUILD_PYTHON=ON \
          -DBUILD_R=ON

    - name: Build gstlearn
      run: |
        cmake --build ${{env.BUILD_DIR}} --parallel 3

    - name: Execute Python demos and courses tests
      run: |
        export PATH=/opt/python/py311/bin:$PATH
        alias pip="python3 -m pip"
        cmake --build ${{env.BUILD_DIR}} --target check_ipynb --parallel 3

    - name: Execute R demos and courses tests
      run: |
        cmake --build ${{env.BUILD_DIR}} --target check_rmd --parallel 3

    - name: Compress output logs
      if: success() || failure()
      run: |
        cd ${{env.BUILD_DIR}}/tests
        find . -type f \( -name "*.asciidoc" -o -name "*.out" \) -print0 | tar -czvf ubuntu-logs.tar.gz --null -T -

    # Keep v3 because ubuntu 16 docker
    - name: Publish output logs as artefact
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: ubuntu-nonreg-logs
        path: ${{env.BUILD_DIR}}/tests/ubuntu-logs.tar.gz
